<app-header
  [totalDeaths]="dataService.totalDeaths"
  [totalRecovered]="dataService.totalRecovered"
  [totalReports]="dataService.totalConfirmed"
  recoveredButtonClass="btn-success"
></app-header>
<br>

<div *ngIf="loading" class="container">
  <app-skeleton-loader></app-skeleton-loader>
</div>

<section class="container pb-4" *ngIf="!loading">
  <h1 class="lead">Pacientes recuperados de COVID-19 en Guinea Ecuatorial</h1>
  <hr>
  <div class="row mb-5">
    <div class="col-lg-8  mb-5">
      <app-map [scale]="mapScale" [regionColors]="mapRegionValues" ></app-map>
    </div>
    <div class="col-lg-4 ">
      <div class="row">
        <div class="col-md-6 col-lg-12 mb-5">
          <app-pie-chart
            [labels]="['Guineanos', 'Extranjeros']"
            [data]="[dataService.recoveredData.natives, dataService.recoveredData.foreign]"
            [colors]="['#02DBFF', '#28A745']"
          ></app-pie-chart>
        </div>
        <div class="col-md-6 col-lg-12">
          <app-pie-chart
            [labels]="['Hombres', 'Mujeres']"
            [data]="[dataService.recoveredData.men, dataService.recoveredData.women]"
            [colors]="['#02DBFF', '#28A745']"
          ></app-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mb-5">
    <div class="col-md-8">
      <app-bar-chart
        [barChartLabels]="lineChartLabels"
        [barChartData]="barChartAccumulatedDataSet"
        [legendConfig]="{display: false, position: 'bottom'}"
        [titleConfig]="{display: true, text: 'Evolución acumulada de los pacientes recuperados'}"
      ></app-bar-chart>
    </div>
    <div class="col-md-4">
      <table class="table table-bordered" >
        <caption style="caption-side: top">Casos confirmados de coronavirus por distritos</caption>
        <thead>
        <tr>
          <th>Distrito</th>
          <th>Casos</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let district of districtData">
          <td>{{dataService.getDistrictName(district.name)}}</td>
          <td>{{district.value}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th>*</th>
          <th>{{dataService.recoveredData.cases}}</th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-lg-6 mb-5">
      <app-line-chart
        [lineChartLabels]="lineChartLabels"
        [lineChartData]="lineChartData"
        [legendConfig]="{display: false, position: 'bottom'}"
        [colors]="['rgb(40, 167, 69)','rgba(40, 167, 69, .5)']"
        [titleConfig]="{display: true, text: 'Evolución de altas por fecha de reporte'}"
      ></app-line-chart>
    </div>
    <div class="col-lg-6">
      <app-bar-chart
        [barChartLabels]="barChartLabels"
        [barChartData]="barChartDataSet"
        [legendConfig]="{display: false, position: 'bottom'}"
        [titleConfig]="{display: true, text: 'Pacientes recuperados los últimos siete días'}"
      ></app-bar-chart>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-sm">
      <caption style="caption-side: top">Historial de altas </caption>
      <thead>
      <tr>
        <th>Fecha</th>
        <th>Altas <span class="lead">(acumulado)</span></th>
        <th>Fuente</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let report of tableData">
        <td>{{report.date}}</td>
        <td>
          <b>{{report.cases}}</b> <span class="lead h6"> &nbsp;({{report.accumulated}})</span>
          <span class="float-right {{report.class}}" title="Incremento respecto al día anterior">
            <fa-icon [icon]="['fas', report.icon]"></fa-icon>&nbsp;
          </span>
        </td>
        <td><a href="{{report.link}}">{{report.title}}</a></td>
      </tr>
      </tbody>

    </table>
  </div>

</section>

<section class="container">
  <app-notice title="¿Cómo puedes evitar la propagación del coronavirus?"></app-notice>
</section>

<app-footer></app-footer>

