<footer class="bg-dark pt-4">
  <div class="container text-white-50">
    <p class="text-center"><i>Datos actualizados por última vez el día {{dataService.lastUpdate}}</i></p>
    <div class="row">
      <div class="col-md-4 ">
        <h3>Líneas de Información</h3>
        <hr>
        <div>
          <div class="btn-group mb-4" role="group" >
            <button type="button" class="btn btn-outline-secondary">Región insular</button>
            <a href="tel:1111" class="btn btn-sm btn-outline-success">
              <fa-icon [icon]="['fas', 'phone-alt']"></fa-icon> Llamar al 1111
            </a>
          </div>
          <div class="btn-group mb-4" role="group" >
            <button type="button" class="btn btn-outline-secondary">Región Continental</button>
            <button type="button" class="btn btn-outline-success">
              <a href="tel:1112" class="text-success"><fa-icon [icon]="['fas', 'phone-alt']"></fa-icon> Lamar al 1112 </a>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <h3>Noticias sobre COVID-19</h3>
        <hr>
        <div>
          <p class="mb-2"><a href="https://www.guineaecuatorialpress.com/buscador.php?cat=10005"
                              class="text-white-50">www.guineaecuatorialpress.com</a></p>
          <p><a href="https://ahoraeg.com/evolucion-del-covid-19/" class="text-white-50">AhoraEG -
            Periódico digital</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Contacto</h3>
        <hr>
        <div>
          <p class="mb-2">
            <a href="mailto:arcadio-nseng@hotmail.com?subject=Notificaci%C3%B3n%20de%20problemas%20relacionados%20a%20covid19ge.gq" class="text-white-50">
            <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>&nbsp; Notificar un problema</a></p>
          <p class="mb-2">
            <a href="mailto:arcadio-nseng@hotmail.com?subject=Comentarios%20y%20sugerencias%20sobre%20covid19ge.gq" class="text-white-50">
            <fa-icon [icon]="['fas', 'comment']"></fa-icon>&nbsp; Enviar Comentarios o sugerencias</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center text-white" style="background-color: #000000">
    <div class="container pt-4 pb-2">
      <address>
        &copy; 2020
        <a href="https://instticweb.wixsite.com/insttic" class="text-white-50">Instituto Superior de Telecomunicaciones,
          Tecnología Información Y Comunicación</a> -
        Todos los derechos reservados
      </address>
      <p class="">Developed by <a href="mailto:info@arcadio.gq" class="text-white-50">@arcadio</a></p>
    </div>
  </div>
</footer>
