<header class="mb-5">
  <nav class="navbar navbar-dark bg-dark shadow fixed-top" >
    <button class="btn btn-outline-light">{{totalReports}} Confirmados</button>
    <button class="btn btn-outline-success">{{totalRecovered}} Recuperados</button>
    <button class="btn btn-outline-warning">{{(totalReports - totalRecovered) || ""}} Activos</button>
    <button class="btn btn-outline-danger d-none d-md-inline-block">{{deaths.length}} Fallecidos</button>
  </nav>
</header>
<div class="container " style="">
  <ngx-skeleton-loader count="5" appearance="image" *ngIf="loading"> </ngx-skeleton-loader>
  <div class="mb-5" *ngIf="!loading">
    <h1 class="mt">Coronavirus en Guinea Ecuatorial</h1>
    <p class="lead">La pandemia del <b>COVID-19</b>, cuyo primer caso en Guinea Ecuatorial fue anunciado el
      <time datetime="2020-03-14">14 de marzo de 2020</time>, ha dejado hasta la fecha un total de
      <b>{{totalReports}} casos confirmados</b> de los cuales <b>{{totalRecovered}}
        ha{{totalRecovered === 1 ? "" : "n"}} sido dado de alta</b> y <b>{{totalDeaths}}
        ha{{totalDeaths === 1 ? "" : "n"}} fallecido.</b></p>
    <cite>Más información sobre las medidas adoptadas por el gobierno en
      <a href="https://www.guineaecuatorialpress.com/noticia.php?id=15208">www.guineaecuatorialpress.com</a></cite>

  </div>
  <h2>Datos generales</h2>
  <hr>
  <ngx-skeleton-loader count="5" appearance="image" *ngIf="loading"> </ngx-skeleton-loader>
  <div class="row" *ngIf="!loading">
    <div class="col-sm-12 col-lg-6 mb-5">
      <app-map></app-map>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="row">
        <div class="col-sm-6 col-12 mb-5">
          <app-pie-chart *ngIf="!loading"
            firstLabel="Confirmados"
            secondLabel="Activos"
            firstData="{{totalReports}}"
            secondData="{{activeCases}}"></app-pie-chart>
        </div>
        <div class="col-sm-6 col-12 mb-5">
          <app-pie-chart *ngIf="!loading"
            firstLabel="Fallecidos"
            secondLabel="Recuperados"
            firstData="{{totalDeaths}}"
            secondData="{{totalRecovered}}"
          ></app-pie-chart>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-12 mb-5">
          <app-pie-chart *ngIf="!loading"
            firstLabel="Guineanos"
            secondLabel="Extranjeros"
            firstData="{{nativeCases}}"
            secondData="{{foreignCases}}"
          ></app-pie-chart>
        </div>
        <div class="col-sm-6 col-12 mb-5">
          <app-pie-chart *ngIf="!loading"
            firstLabel="Hombres"
            secondLabel="Mujeres"
            firstData="{{menCases}}"
            secondData="{{womenCases}}"
          ></app-pie-chart>
        </div>
      </div>
    </div>
  </div>

  <ngx-skeleton-loader count="5" appearance="image" *ngIf="loading"> </ngx-skeleton-loader>
  <div class="mt-5" *ngIf="!loading">
    <app-line-chart *ngIf="!loading"
                    [lineChartLabels]="lineChartLabels"
                    [lineChartData]="lineChartData"
    ></app-line-chart>
  </div>

  <div class="mt-5" *ngIf="!loading">
    <h2>Evolución diaria</h2>
    <hr>
    <app-bar-chart *ngIf="!loading"
                   [barChartData]="barChartDataSet"
                   [barChartLabels]="barChartLabels"
    ></app-bar-chart>
    <h2 class="mt-5">Historial de reportes</h2>
    <table class="table">
      <thead>
      <tr>
        <th>Fecha</th>
        <th>Comunicado</th>
        <th>Número de casos</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let report of reports">
        <td>{{report.date || report.dates}}</td>
        <td><a href="{{report.link}}">{{report.title}}</a></td>
        <td>{{report.cases}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="2" class="text-black-50"><cite>Fuente: <a class="" href="https://www.guineaecuatorialpress.com/buscador.php?cat=10005">www.guineaecuatorialpress.com</a></cite></th>
        <td><i>Actualizado: <time datetime="2020-03-20">{{lastUpdate}}</time></i></td>
      </tr>
      </tfoot>
    </table>

  </div>

  <div class="mt-5 mb-5">
    <h2>Noticias sobre el COVID-19 Guinea Ecuatorial</h2>
    <hr>
    <ul>
      <li><a href="https://www.guineaecuatorialpress.com/buscador.php?cat=10005">Página oficial del gobierno de la República de Guinea Ecuatorial</a></li>
      <li><a href="https://ahoraeg.com/evolucion-del-covid-19/">AhoraEG - Periódico digital</a></li>
    </ul>
  </div>


</div>

<footer class="bg-dark pb-2 pt-2 text-center">
  <div class="container text-white-50">
    <address>
      &copy; 2020
      <a href="">Instituto Superior de Telecomunicaciones, Tecnología Información Y Comunicación</a> -
      Todos los derechos reservados
    </address>
    <p>Developed by <a href="mailto:info@arcadio.gq">@arcadio</a></p>
  </div>
</footer>

