<div class="row">
  <div class="col-12 col-md-6">
    <div class="jumbotron">
      <h1 class="display-4">{{title}}</h1>
      <p class="lead">{{subtitle}}</p>
      <hr class="my-4">
      <p class="lead">Contribuya a evitar la propagación del coronavirus y ayuda a frenar el número de contagios en
        Guinea Ecuatorial cumpliendo con las medidas recomendadas por la OMS</p>
      <a class="btn btn-primary btn-lg"
         href="https://www.who.int/es/emergencies/diseases/novel-coronavirus-2019/advice-for-public" role="button">Saber más</a>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <figure>
      <img src="/assets/images/parar-propagacion-covid-19.png" alt="Evitar la propagación del coronavirus"
           class="img-fluid" style="max-width: 100%">
    </figure>
  </div>
</div>
