<app-header
  [totalDeaths]="dataService.totalDeaths"
  [totalRecovered]="dataService.totalRecovered"
  [totalReports]="dataService.totalConfirmed"
  homeButtonClass="btn-primary"
></app-header>
<br>

<div *ngIf="loading" class="container">
  <app-skeleton-loader></app-skeleton-loader>
</div>

<section class="container pb-4" *ngIf="!loading">
  <p class="lead sr-only">
    La pandemia del COVID-19, cuyo primer caso en Guinea Ecuatorial fue anunciado el 14 de marzo de 2020,
    ha dejado hasta la fecha un total de {{dataService.totalConfirmed}} casos confirmados de los cuales
    {{dataService.totalRecovered}} han sido dado de alta y {{dataService.totalDeaths}} han fallecido.
  </p>
  <div class="row mb-5">
    <div class="col-md-5">
      <h1 class="h3">Coronavirus en Guinea Ecuatorial</h1>
      <app-summary-chart
        [confirmed]="dataService.totalConfirmed"
        [recovered]="dataService.totalRecovered"
        [deaths]="dataService.totalDeaths"
      ></app-summary-chart>
    </div>
    <div class="col-md-7">
      <p class="text-secondary text-center">Distribución geográfica de los casos confirmados</p>
      <app-map
        [scale]="mapScale"
        [regionColors]="mapRegionValues"
        legendTitle="Casos confirmados"
      ></app-map>
    </div>
  </div>
  <hr>

  <p class="sr-only">Datos oficiales del coronavirus (COVID-19) en el continente Africano</p>
  <div class="row mb-5" *ngIf="!worldDataLoading">
    <div class="col-md-5">
      <h2 class="h3">Situación del COVID-19 en África</h2>
      <app-summary-chart
        [confirmed]="dataService.africaData.summary.confirmed"
        [recovered]="dataService.africaData.summary.recovered"
        [deaths]="dataService.africaData.summary.deaths"
        [sourced]="true"
      ></app-summary-chart>
    </div>
    <div class="col-md-7">
      <p class="text-secondary text-center">Distribución geográfica de los casos confirmados</p>
      <app-map
        [map]="'africa_mill'"
        [scale]="africaMapScale"
        [regionColors]="africaMapRegionValues"
        [zoomConfig]="{enabled: true, min: 1, max: 10}"
        legendTitle="Casos confirmados"
      ></app-map>
    </div>
  </div>

  <!--<div class="row">
    <div class="col-md-6 mb-5">
      <p class="text-secondary text-center">Distribución de los casos confirmados por nacionalidad</p>
      <app-pie-chart
        [labels]="['Guineanos', 'Extranjeros']"
        [data]="[dataService.confirmedData.natives, dataService.confirmedData.foreign]"
        [colors]="['#007bff', '#02DBFF']"
        [titleConfig]="{display: false, text: ''}"
      ></app-pie-chart>
    </div>
    <div class="col-md-6">
      <p class="text-secondary text-center">Distribución de los casos confirmados por tipo de contagio</p>
      <app-pie-chart
        [labels]="['Local', 'Importado']"
        [data]="[dataService.localCases, dataService.importedCases]"
        [colors]="['#007bff', '#02DBFF']"
        [titleConfig]="{display: false, text: ''}"
      ></app-pie-chart>
    </div>
  </div>-->


  <hr>
  <div class="mb-5">
    <p class="text-secondary text-center">Evolución acumulada de los casos positivos por fecha de reporte</p>
    <app-bar-chart
      [barChartLabels]="dataService.confirmedData.reportDates"
      [barChartData]="barChartAccumulatedDataSet"
      [legendConfig]="{display: false, position: 'bottom'}"
      [titleConfig]="{display: false, text: ''}"
    ></app-bar-chart>

  </div>

  <div class="mb-5">
    <p class="text-center text-secondary">Evolución acumulada de los casos activos, recuperados y fallecidos por fecha de reporte</p>
    <app-bar-chart
      [barChartLabels]="dataService.deathsRecoveredDates"
      [barChartData]="bundleBarchartDataSet"
      [legendConfig]="{display: true, position: 'bottom'}"
      [titleConfig]="{display: false, text: ''}"
    ></app-bar-chart>

  </div>

  <hr>

  <div class="mb-5">
    <p class="text-secondary text-center">Evolución diaria de nuevos casos confirmados</p>
    <app-line-chart
      [lineChartLabels]="lineChartLabels"
      [lineChartData]="lineChartData"
      [legendConfig]="{display: false, position: 'bottom'}"
      [colors]="['rgb(255, 162, 37)','rgba(255, 162, 37,.5)']"
      [titleConfig]="{display: false, text: ''}"
    ></app-line-chart>
  </div>

</section>

<section class="container">
  <app-notice title="¿Cómo puedes evitar la propagación del coronavirus?"></app-notice>
</section>

<app-footer></app-footer>

